.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-avatar-10 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.popular-post-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.item-category-card-post {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.item-header-card-post {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.item-footer-card-post {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.card-post-shadow {
    box-shadow: 0 0 25px #CCCCCC;
}

.border-radius-50 {
    border-radius: 50%;
}

.font-weight-bold {
    font-weight: bold;
}

.bg-gray {
  background-color: #cccccc !important;
}

.bg-body {
  background-color: #f0f0f0f0 !important;
}
.margin-left-username {
    margin-left: 10px;
}

.mt-100 {
    margin-top: 100px;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-star-right-in-card {
    padding-right: 20px;
}

.float-right {
    float: right;
}

.font-size-star {
	font-size: 1.3em;
}

.color-gray {
	color: gray;
}

.color-white {
    color: white;
}

.post-header-in-card {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-top: 0;
}

.position-absolute {
    position: absolute;
}