.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-avatar-10 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.d-inline-block {
    display: inline-block;
}

.border-radius-50 {
    border-radius: 50%;
}