.margin-top-150 {
    margin-top: 150px;
}

.background-color-user-profile {
    background-color: #f0f0f0;
}

.user-profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.user-name-text {
    font-weight: bold;
}

.user-profile-card {
    background-color: #ffffff;
    box-shadow: 0 0 25px #CCCCCC;
    margin-top: 30px;
}

.container-user-profile {
    height: 400px;
    background-image: url('https://picsum.photos/id/120/1200/400');
    position: relative;
    box-shadow: 0 0 25px #CCCCCC;
}

.follow-button {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 30px;
}


.follow-button:hover {
    font-weight: bold;
}

.social-icon {
    color: white;
    border: .2rem solid #ffffff;
    border-radius: 50%;
    padding:10px;
}